.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 0;
}

.inputfield {
  border: 0px solid crimson;
}

.sendbutton {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  /*background-color: var(--xef-background-color);*/
  color: #fff;
  width: calc(100% - 20px);
  cursor: pointer;
}