.container {
  height: calc(100vh - 144px);
  display: flex;
  flex-direction: column;
  border: 0px solid #eebb4f;
  overflow: hidden;
}

.containerGrid {
  border: 0px solid #da0d7f;
}

.leftContainer {
  border: 0px solid #19b264;
  background-color: #dadada;
}

.rightContainer {
  border: 0px solid #b128de;
  overflow: scroll;
  height: 100%;
}

.footerWrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
  border-top: solid #01c9bd 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #7650e9;
}